
@model WebMVC2015.Models.Article
<h2>Edit</h2>


<form action="/Articles/Edit/8" method="post">
    @Html.AntiForgeryToken()
        <h4>Article</h4>
        <hr />

        <input data-val="true" data-val-number="欄位 ID 必須是數字。" data-val-required="ID 欄位是必要項。" id="ID" name="ID" type="hidden" value="8" />

        <div class="form-group">
            <label class="control-label col-md-2" for="Article_Title">Article_Title</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Article_Title" name="Article_Title" type="text" value="@Model.Article_Title" required="required"/>
                <span class="field-validation-valid text-danger" data-valmsg-for="Article_Title" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Article_Content">Article_Content</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Article_Content" name="Article_Content" type="text" value="@Model.Article_Content" required="required"/>
                <span class="field-validation-valid text-danger" data-valmsg-for="Article_Content" data-valmsg-replace="true"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/">Back to List</a>
</div>

